@font-face {
    font-family: "socialico";
    src: url("fonts/Socialico/Socialico.eot");
    src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg");
}
@font-face {
    font-family: 'Rajdhani';
    src: url('fonts/Rajdhani-Medium.eot');
    src: url('fonts/Rajdhani-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Rajdhani-Medium.woff2') format('woff2'),
        url('fonts/Rajdhani-Medium.woff') format('woff'),
        url('fonts/Rajdhani-Medium.ttf') format('truetype'),
        url('fonts/Rajdhani-Medium.svg#Rajdhani-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('fonts/Rajdhani-Bold.eot');
    src: url('fonts/Rajdhani-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Rajdhani-Bold.woff2') format('woff2'),
        url('fonts/Rajdhani-Bold.woff') format('woff'),
        url('fonts/Rajdhani-Bold.ttf') format('truetype'),
        url('fonts/Rajdhani-Bold.svg#Rajdhani-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Babylon5';
    src: url('fonts/Babylon5.eot');
    src: url('fonts/Babylon5.eot?#iefix') format('embedded-opentype'),
        url('fonts/Babylon5.woff2') format('woff2'),
        url('fonts/Babylon5.woff') format('woff'),
        url('fonts/Babylon5.ttf') format('truetype'),
        url('fonts/Babylon5.svg#Babylon5') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('fonts/Rajdhani-Regular.eot');
    src: url('fonts/Rajdhani-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Rajdhani-Regular.woff2') format('woff2'),
        url('fonts/Rajdhani-Regular.woff') format('woff'),
        url('fonts/Rajdhani-Regular.ttf') format('truetype'),
        url('fonts/Rajdhani-Regular.svg#Rajdhani-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1200px;margin: 0 auto;text-align: center;font-family: "Rajdhani"}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 1200px;margin: 0 auto}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }
.socialico{font-family: "socialico"}

/*button*/
.btn {font-family: "Rajdhani";font-size: 17px; font-weight: 700; color: #FFFFFF; display: inline-block; padding: 20px 85.5px;letter-spacing: 2px; background: linear-gradient(#D90000,#8C0000); border-radius: 5px ;border: 1px solid transparent; transition: all 0.5s ease;}
.btn:hover {background: #ddd; border-color: #ddd; color: #000;}
.btn2 {font-family: "Rajdhani";font-size: 17px; font-weight: 700; color: #FFFFFF; display: inline-block; padding: 20px 85.5px;letter-spacing: 2px; background: none; border-radius: 5px ;border: 1px solid #FFFFFF; transition: all 0.5s ease;}
.btn2:hover {background: #ddd; border-color: #ddd; color: #000;}
/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;margin-top: -5px;}

/*cookie*/
.cc-animate.cc-revoke.cc-bottom{font-size: 14px; padding: 5px 10px; position: fixed; display: block!important; transform: none!important; bottom: 0!important; left: 20px!important;}

/*call to action*/
.destroy-on-load, .cta {display: none;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: .42857; margin-bottom: 20px;padding: 4px;transition: border 0.5s ease-in-out 0s;}
#content .thumbnail:hover {transform: scale(1.02);}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-family: "Babylon5"; font-size: 61px;font-weight: 400;color:#D00000;line-height: 70px}

/*header*/
#header {padding: 37px 0 0; position: relative;z-index: 9999;}
#header nav a#pull {display: none}
#header nav ul {margin: 0;padding: 0}
#header nav ul li {display: inline-block;vertical-align: middle;}
#header nav ul li a {font-weight: 500; font-size: 20px; color: #FFFFFF; margin: 0 0 0 50px;}
#header nav ul li.active-menu a, #header nav ul li a:hover {color:#fff;}
.hdLeft.col{width: 26%}
.hdRight.col{width: 74%; text-align: right;}
.hdRight p{font-weight: 500; font-size: 34px; color: #FFFFFF;margin: 0 auto 15px;}
/*banner*/
#banner {background: url(../images/common/bgBanner.jpg)no-repeat center bottom;background-size: cover;min-height: 700px; margin-top: -227px;}
/*content*/
#section1{padding: 64px 0 37px;}
.sec1Left.col{text-align: left;width: 44%;}
.sec1Left img{max-width: 492px; width: 100%;height: auto;}
.sec1Right.col{text-align: left;width: 56%;}
.sec1Right.col p{width: 95%;font-size: 20px; line-height: 29px}
#section2{padding: 37px 0 59px;}
.sec2Left.col{width: 57%;text-align: left;}
.sec2Left h3{line-height: 63px; position: relative;letter-spacing: 10px; font-weight: 500; font-size: 33px; color: #000000;}
.sec2Left h3::after{content: ""; width: 140px; height: 1px;position: absolute; bottom: 0; left: 0; background: #000000}
.sec2Left p{font-size: 20px; line-height: 29px}
.sec2Right.col{width:43%; text-align: right;}
#section3{background: url(../images/common/bgServices.jpg)no-repeat center top; background-size: cover; padding: 79px 0 84px;}
#section3 h2{font-family: "Babylon5"; font-weight: 400; font-size: 69px; color: #FFFFFF;line-height: 78px;}
.sec3Top{padding: 60px 0;}
.sec3Top dl.col{max-width: 418px; width: 32.6%;margin: 0 auto;}
.sec3Top dl:nth-of-type(2){margin: 0 13px;}
.sec3Top dl dt img{max-width: 418px; width: 100%; height: auto;}
.sec3Top dl dd ul{padding: 0;}
.sec3Top dl dd ul li{list-style: none;font-size: 20px; font-weight: 400; color: #FFFFFF;text-align: left;line-height: 40px}
.sec3Top dl dd ul li span{margin-right: 20px;}
.sec3BotLeft.col{width:56.666666666666664%;text-align: left;}
.sec3BotRight.col{width:39%;text-align: left;background: linear-gradient(#D90000,#8C0000);margin-top: 15px;padding: 26px 15px 26px 35px;}
.sec3BotLeft h3{font-family: "Babylon5"; font-weight: 400; font-size: 49px; color: #FFFFFF;line-height: 57px;margin: 0 0 0 10px;}
.sec3BotLeft ul{padding: 0 0 0 10px;column-count:2; column-gap:1px}
.sec3BotLeft ul li{list-style: none;font-size: 20px; font-weight: 400; color: #FFFFFF;text-align: left;line-height: 40px}
.sec3BotLeft ul li span{margin-right: 20px;}
.sec3BotRight h3{font-family: "Babylon5"; font-size: 27px; color: #FFFFFF;}
.sec3BotRight p{font-family: "Rajdhani"; font-size: 20px; color: #FFFFFF; margin: 0 auto;}
.sec3BotRight tr td:first-child{font-family: "Rajdhani"; font-weight: 500; font-size: 20px; color: #FFFFFF;width: 35%;}
.sec3BotRight tr td{font-family: "Babylon5"; font-size: 27px; color: #FFFFFF;width: 68%;}
.sec3BotRight tr:last-child td{font-family: "Rajdhani"; font-weight: 500; font-size: 20px; color: #FFFFFF;}
#section4{padding: 46px 0 72px;}
#section4 h2{font-family: "Rajdhani"; font-weight: 500; font-size: 33px; color: #233537;letter-spacing: 10px; line-height: 40px}
#section4 h3{font-family: "Babylon5"; font-weight: 400; font-size: 33px; color: #D00000;line-height: 40px; position: relative;margin-bottom: 50px;}
#section4 h3:after{content:""; width: 140px; height: 1px; background: #233537;position: absolute; bottom:-25px; left: 50%; transform: translateX(-50%);}
#section4 p{max-width: 790px; width: 100%;margin: 25px auto 10px;font-family: "Rajdhani"; font-weight: 400; font-size: 20px; color: #000000;line-height:30px; position: relative;}
#section4 p::before{content:url("../images/common/quote-left.png"); position: absolute;left:-100px}
#section4 p::after{content:url("../images/common/quote-right.png"); position: absolute;right:-80px}
#section5{background: url("../images/common/bgGallery.jpg")no-repeat center top;background-size: cover;padding: 45px 0 44px;}
#section5 .row{max-width: 100%}
#section5 h2{font-family: "Rajdhani"; font-weight: 500; font-size: 33px; color: #FFFFFF;letter-spacing: 10px; line-height: 40px}
#section5 h3{font-family: "Babylon5"; font-weight: 400; font-size: 33px; color: #FFFFFF;line-height: 40px; position: relative;margin-bottom: 50px;}
#section5 h3:after{content:""; width: 140px; height: 1px; background: #FFFFFF;position: absolute; bottom:-25px; left: 50%; transform: translateX(-50%);}
#section5 .container{margin: 25px auto;}
#section5 .container img{width: 25%;margin: 0 -3px;}
#section5 p{max-width: 1106px; width: 100%; margin: 25px auto;font-family: "Rajdhani"; font-weight: 500; font-size: 24px; color: #FFFFFF;line-height: 28px}
#section6{padding: 10px 0;}
#section6 .row{max-width: 100%}
#section6 img{display: inline-block;vertical-align: middle; width: 19%;margin: 0 0.3%;}
#section7 {background: #000000; padding: 70px 0;}
#section7 h2{font-family: "Rajdhani"; font-weight: 500; font-size: 33px; color: #FFFFFF;letter-spacing: 10px; line-height: 40px}
#section7 h3{font-family: "Babylon5"; font-weight: 400; font-size: 33px; color: #FFFFFF;line-height: 40px; position: relative;margin-bottom: 50px;}
#section7 h3:after{content:""; width: 140px; height: 1px; background: #FFFFFF;position: absolute; bottom:-25px; left: 50%; transform: translateX(-50%);}
#section7 form {margin-top: 65px;}
#section7 form .container-1 input[type="text"]{width: 32.5%;display: inline-block; vertical-align: top;margin: 0 auto 10px;height: 53px; border-radius: 0; background: #C5C5BD;; padding-left: 20px;}
#section7 form .container-1 input[type="text"]:nth-child(2){margin: 0 10px 10px;}
#section7 form .container-2 textarea{background: #C5C5BD; border-radius: 0; padding-left: 20px;margin-bottom: 20px;}
#section7 form .container-1 input[type="text"]::placeholder,#section7 form .container-2 textarea::placeholder{margin: 10px 0 0 20px;font-family: "Rajdhani"; font-weight: 500; font-size: 20px; color: #FFFFFF;}
#section7 form .container-3 input[type="checkbox"], #section7 form .container-3 p.consent{display: inline-block; vertical-align: middle;}
#section7 form .container-3 .col-1{text-align: left;  }
#section7 form .container-3 .col-1 p.consent{font-family: "Rajdhani"; font-weight: 400; font-size: 18px; color: #FFFFFF;;margin: 0 auto 0 10px;}
/*footer*/
#footer {background: #FFFFFF;padding: 40px 0 25px}
.footTop {margin-bottom: 20px;}
.footTop dl{display: inline-block;vertical-align: top;width: 20%;text-align: left;}
.footTop dl dt{color: #D00000;}
.footTop dl dt span{margin-left: 20px;font-family: "Rajdhani"; font-size: 16px; font-weight: 500px}
.footTop dl:nth-of-type(1) dd, .footTop dl:nth-of-type(2) dd{margin-left: 35px;}
.footTop dl dd{font-family: "Rajdhani"; font-weight: 500; font-size: 19px; color: #000000;}
.footTop dl dd p{font-size: 26px; letter-spacing: 10px}
.footTop dl dd, .footTop dl dd p{margin: 0;}
.footTop dl:last-child{margin-left: 100px;}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}


/*inner pages*/
.inner #content {min-height: 400px;padding: 40px 0}

/*privacy policy*/
.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}


/** Responsive
-------------------------------------------------------*/

/*
@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
}

@media screen and (max-width: 800px){
  [class*='col']{
    width: 100% !important;
  }
	#header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}

	.cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}*/
